@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  display: grid;
  height: 100vh;
  place-items: center;
}

article {
  background-color: var(--white);
  border-radius: 20px;
  width: 320px;
  height: 500px;
  padding: 16px;
  padding-bottom: 44px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

article img {
  border-radius: 12px;
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 22px;
}

p {
  text-align: center;
  color: var(--grayish-blue);
  font-size: 15px;
  margin-bottom: 0;
}

.text {
  margin: 0 16px;
}
